@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
</style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
</style>


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    font-family:"lato", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
     }

h1 {
    font-size: 36px;
    text-align: center;
    }

h2 { 
    font-size: 28px;
    text-align: center;
}

p {
    margin: 16px 0;
}

img {
    max-width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px #5f5f5f;
}

.logo {
    width: 120px;
    margin-left: 16px;
}

ul#menu {
    display: flex;
    font-size: 20px;
}

li.menu-item a {
    padding: 16px;
    display: inline-block;
}

ul#botones {
    display: flex;
    font-size: 20px;
}
li.iconos {
    padding: 16px;
    display: inline-block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


main {
    max-width: 1200px;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 120px;
}

section#inicio {
    justify-content: space-around;
}

figure.presentacion-img {
    margin-bottom: 20px;
}

figure.presentacion-img img {
    border-radius: 50%;
    width: 400px;
}

article.presentacion {
    width: 100%;
    text-align: center;
}
a.btn {
    background-color: #af599e;
    color: #fbfbfb;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
}

section#contacto {
    justify-content: space-around;
}

article.hablemos {
    width: 100%;
    text-align: center;
    justify-content:center;
    padding: 16px 16px;
    border-radius: 10px;
    margin: 10px 20px;
    background-color: rgba(175, 89, 158, 0.3);
}

div {
    display: flex;
    flex-direction: row;
}

div img {
    height: 80px;
    width: 80px;
    padding: 20px;
}


.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 20px;
    height: 90px;
    width: 100%;
    background-color: #af599e;
    color: #fbfbfb;
    text-align: center;
}
